<template>
  <div class="hello">
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
      <el-form-item class="theform" label="Start date:">
        <el-date-picker
          v-model="value1"
          type="datetime"
          placeholder="Select date and time"
          default-time="12:00:00">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="End date:">
        <el-date-picker
          v-model="value2"
          type="datetime"
          placeholder="Select date and time"
          default-time="12:00:00">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="Promo code">
      <el-input placeholder="Please input" v-model="input"></el-input>
      </el-form-item>
      <el-form-item>
        
        <el-button type="primary" @click="onSubmit" v-loading.fullscreen.lock="fullscreenLoading">Search</el-button>
      </el-form-item>

    </el-form>
  </div>
</template>

<script>
import axios from 'axios'

  export default {
    data() {
      return {
        formInline: {
          user: '',
          region: '',
          input: '',
        },
        value1: '',
        value2: '',
        input: '',
        fullscreenLoading: false
      }
    },
    methods: {
      onSubmit() {
        this.fullscreenLoading = true
        var postbody = {}
        this.$store.commit('setStartDate', this.value1)
        this.$store.commit('setEndDate', this.value2)
        if (this.input) {
          postbody['promocode'] = this.input
          this.$store.commit('addPromoUsed', true)
        } else {
          this.$store.commit('addPromoUsed', false)
        }
        postbody['token'] = 'Txxx'
        postbody['start'] = this.value1
        postbody['end'] = this.value2
        axios.post(`https://directparking.netfm.org/api/v3/availability/`, postbody)
        .then(response => {
          this.$store.commit('addResults', response.data)
          console.log(response)
          this.$router.push('2') 
        })
        .catch(e => {
        })
      }
    }
  }
  
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello{
  min-width: 100%;
  min-height: 100vh;
    display: flex;
  justify-content:center;
  flex-direction: column;
  text-align: center;
}

.theform{
  margin-bottom: 200px;
}
</style>
