<template>
<div class="formholder">
    <el-table
    :data="info"
    class="myform"
    stripe
    style="width: 100%">
    <el-table-column
      prop="location_name"
      label="Name"
      width="100">
    </el-table-column>
    <el-table-column
      prop="site_name"
      label="Site Name"
      width="200">
    </el-table-column>
    <el-table-column
      v-if="promoActive"
      prop="original_price"
      label="Original Price"
      width="180">
    </el-table-column>
    <el-table-column
      prop="spaces_available"
      label="Spaces"
      width="180">
    </el-table-column>
    <el-table-column
      v-if="promoActive"
      prop="discount_value"
      label="Discount Value"
      width="180">
    </el-table-column>
    </el-table-column>
    <el-table-column
      label="Extras"
      width="280">
      <template slot-scope="scope">
        <el-select v-model="extras[scope.$index]" @change="handleSelect(scope.$index, $event)" multiple placeholder="Select">
          <el-option
            v-for="item in findExtras(scope.$index)"
            :key="item.codename"
            :label="createLabel(item)"
            :value="item.price">
          </el-option>
        </el-select>
      </template>
    </el-table-column>
    <el-table-column
      v-if="promoActive"
      label="Final Price"
      width="180">
      <template slot-scope="scope">
       £{{ finalPrices[scope.$index] }}
      </template>
    </el-table-column>
    <el-table-column
      v-if="!promoActive"
      label="£ Price"
      prop="parking_cost"
      width="180">
    </el-table-column>
    <el-table-column
      label=""
      width="180">
      <template slot-scope="scope">
        <el-button @click="makeBooking(scope.$index)" type="primary">Book</el-button>
      </template>
    </el-table-column>
  </el-table>

  <el-dialog title="Make Booking" :visible.sync="dialogFormVisible">
    £ {{ chosenPrice }} for {{ chosenPlace }}
    <el-form :model="form">
      <el-form-item label="Full Name" >
        <el-input placeholder="John Doe" v-model="form.name" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Email Address" >
        <el-input placeholder="hello@example.com" v-model="form.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Start" >
        <el-date-picker
          v-model="this.$store.state.startDate"
          type="datetime"
          placeholder="Select date and time"
          default-time="12:00:00">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="End" >
        <el-date-picker
          v-model="this.$store.state.endDate"
          type="datetime"
          placeholder="Select date and time"
          default-time="12:00:00">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="Vehicle Registration" >
        <el-input placeholder="S11 8TX" v-model="form.numberplate" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Number of passengers" >
          <el-input-number v-model="form.passengers" :min="1" :max="10"> </el-input-number>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">Cancel</el-button>
      <el-button type="primary" v-loading.fullscreen.lock="fullscreenLoading" @click="confirmBooking()">Book</el-button>
    </span>
  </el-dialog>

</div>
</template>

<script>
import axios from 'axios'

  export default {
    data() {
      return { 
        info: this.$store.state.results[0],
        promoActive: this.$store.state.promoUsed,
        extras: [],
        finalPrices: [],
        dialogFormVisible: false,
        chosenPrice: null,
        fullscreenLoading: false,
        chosenPlace: '',
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: '',
          numberplate: '',
          email: '',
          passengers: 1
        },
      }
    },
    methods: {
      onSubmit() {
        this.$router.push('3') 
      },
      finalPrice(index) {
          this.finalPrices[index] = (this.info[index].original_price - this.info[index].discount_value ).toFixed(2)
          return this.finalPrices[index]
      },
      findExtras(index) {
        var extras =  this.info[index].extras
        return this.info[index].extras
      },
      createLabel(item) {
        var price = item.price
        var description = item.description
        return '£' + price + ': ' + description
      },
      handleSelect(index, event) {
        var newFinalPrice = (parseFloat(this.finalPrice(index)) + parseFloat(event)).toFixed(2)
        this.finalPrices[index] = newFinalPrice
      },
      makeBooking(index) {
        this.dialogFormVisible = true
        if (this.promoActive) {
          this.chosenPrice = this.finalPrices[index]
        } else {
          this.chosenPrice = this.info[index].parking_cost
        }
        this.chosenPlace = this.info[index].site_name
        this.chosenCodeName = this.info[index].site_codename

      },
      confirmBooking() {
        this.dialogFormVisible = false
        this.fullscreenLoading = true
        var postbody = {}
        postbody['token'] = 'Txxx'
        postbody['start'] = this.$store.state.startDate,
        postbody['end'] = this.$store.state.endDate,
        postbody['registration'] = this.form.numberplate
        postbody['name'] = this.form.name
        this.$store.commit('setBooker', this.form.name)
        postbody['email'] = this.form.email
        this.$store.commit('setBookerEmail', this.form.email)
        postbody['people_travelling'] = this.form.passengers
        postbody['parking_product'] = this.chosenCodeName
        console.log(postbody)
        axios.post(`https://directparking.netfm.org/api/v3/book/`, postbody)
        .then(response => {
          console.log('below')
          console.log(response)
          this.$router.push('3') 
        })
        .catch(e => {
          console.log(e)
        })
      }
    },
    beforeMount() {
      var arrayLength = this.info.length
      for (var i = 0; i < arrayLength; i++) {
          var price = this.finalPrice(i)
          this.finalPrices[i] = price
      }
    }
  }
</script>

<style scoped>
.myform{
    min-width: 100%;
    min-height: 100vh;
}

.formholder table{
    min-width: 100% !important;
    width:  100% !important;
}
.formholder{
    min-width: 100%;
    min-height: 100vh;
}
</style>