<template>

<div class="booking-container">
  <div class="bumpup">
  Thanks for your booking {{this.$store.state.booker}} <br> Confirmation has been sent to 
  <u> {{ this.$store.state.bookeremail}} </u>
  </div>
</div>

</template>

<script>

</script>

<style scoped>
.booking-container {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

u {
  padding: 0px;
  text-decoration: none;
  border-bottom: 5px solid #409EFF;
}

.bumpup{
  margin-bottom: 100px;
  font-size: 30px;
}


</style>